<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <img id ="main-pic"src="https://res.cloudinary.com/dpwhjxnci/image/upload/v1569958211/2019_09_23_VANJADID_CAMPAGNE_LOOK_02_339_vz8p37.jpg" alt="">
    </div>
    <div class="col-12">
      <div class="jadid-text py-3">
        <h4 class="text-center">Multiculturel – Made in Paris – Haut de gamme – Responsable – Accessoires Innovants</h4>
        <p>A l’origine de Van Jadid il y a deux cultures, la Hollande et le Liban qui se rencontrent à
        Paris.<br>
        Puis, le rêve de deux amies, Emma et Fanny, partageant les mêmes envies et ambitions :
        monter une maison de créateur innovante proposant une approche consciente de la mode
        qui placerait l’esthétique, le luxe et la qualité au cœur de son projet.<br>
        <br>
        Les créatrices de Van Jadid envisagent la mode comme un outil d'expression inclusif, au
        travers duquel le respect des valeurs d'engagement et d'impact social participe à un
        développement plus sain et durable.<br>
        <br>
        Ainsi, l’utilisation de fin de stocks de tissus haute couture ou de matières écologiques
        fait partie intégrante du processus créatif de la maison.<br>
        Afin de valoriser le savoir-faire français et proposer des pièces de haute qualité, le design
        et la fabrication de chaque pièce sont entièrement réalisés à Paris dans le respect de
        l’environnement.<br>
        <br>
        C’est dans une allure Dandy street féminine que Van Jadid souhaite faire ses premiers
        pas.<br>
        Le design des collections s’associe à la richesse et à la noblesse des matériaux pour créer
        des pièces d’exception où le détail sublime des formes sobres et minimalistes.<br>
        <br>
        À travers des pièces uniques et des éditions limitées haut de gamme, les deux stylistes
        vous invitent à voyager dans le temps et au cœur des cultures qui ont inspiré la confection
        de leur toute première collection.
        </p>
      </div>
    <div class="col-6 offset-3 py-3">
      <h3 class="text-center">Want to keep up with the latest news ?</h3>
      <form class="form-inline text-center px-3 mx-3">
        <div class="form-group">
          <label for="inputPassword2" class="sr-only" style="width: 200px !important">Email</label>
          <input type="text" class="form-control" id="inputmail" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-primary px-3 mx-3" style="width: 200px !important">Keep me updated</button>
      </form>
    </div>
    </div>
  </div>
</div>




<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mailModalLabel">Mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Write us here : <strong><a href="mailto:design@vanjadid.com">design@vanjadid.com</a></strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="phoneModalLabel">Phone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Call Fanny : <strong><a href="">06 44 80 53 45</a></strong></p>
        <p>Call Emma: <strong><a href="">06 78 93 29 20</a></strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
